/* .card-container{
    text-align:center;
  }
  .card{
    background-color:rgb(10, 65, 86);
    width:100%;
    height:400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0,   0, 0.2), 0 6px 20px 0 rgba(0, 0,     0, 0.19);
    display:inline-block;
    margin: 5px;
    text-align:justify;
    padding-top:10px;
  }
  #card1{
    background-repeat:no-repeat;
    background-size:cover;
  }
  .link span{
  visibility:hidden;
  }
  .link:hover span{
    visibility:visible;
  }
  .card-content{
    text-align: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .card-content-order{
    text-align: center;
    margin-top: 5%;
    color:rgb(255, 255, 255);;
  }

  .entry-input-file{
      border: 1px solid rgb(10, 65, 86);
  }
   */