
.section-card-register-form-select-result{
    font-size: 20px;
    color: red;
    
}
    
    .section-card-register-form{
        position: relative;
        display: flex;
        align-content: center;
        text-align: center;
        justify-content: center;
    }
    .section-card-register-form-select{
        width: 50%;
        margin:40px;
        height: 60px;
        font-size: 25px;
        border: 2px solid rgb(10, 65, 86);
    }
    .section-card-register-form-select-option{
        width: 50%;
        font-size: 10px;
    }

    .section-card-register-form-button{
        width: 30%;
        height: 50px;
        font-size: 25px;
        background-color: rgb(10, 65, 86);
        color: #ffffff;

    }

    .section-card-register-form-button:hover{
        color:#ffffff;
        background-color: rgb(4, 28, 37);

    }

.section-card-register {
    padding: 10rem  0;
    background-color: rgba(255, 255, 255, 0.11);
}

.section-card-register-title {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .5rem;
    background-image: linear-gradient(to right, 
    rgba(68, 68, 68, 0.712), 
    rgba(20, 20, 56, 0.781) );
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .4rem;
    transition: all .2s;
}

.section-card-register-title-box {
    text-align: center;
    margin-bottom: 4rem;
}

#section-card-register-title-small{
    font-size: 2rem;
}
